@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  font-weight: normal;
}

.container {
  max-width: 1588px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* TODO: (max-width)1588px + paddings(15+15)px = 1618px */
@media screen and (min-width: 1618px) {
  .container {
    padding: 0;
  }
}

.container-paddings-reset {
  padding: 0;
}

.hidden {
  display: none;
}